.bannerImg{
    background-image: url(../../../assets/enterprise/interprise-banner.png);
    width: 100%;
    height: 700px;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    .bannerImg {
        height: 400px;
    }
  }