@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        max-width: 1230px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}
.swiper-pagination-bullet-active{
    background: #ED1C24;
}
.banner-section .swiper-slide{
background-color: transparent !important;
}
.topBtn{
    height: 60px !important;
    width: 55px !important;
}
